@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins, sans-serif';
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #CFD2CF;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
    border-radius: 50%;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: #F32424;
    font-size: 1.2em;
    font-weight: 900;
    
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #F32424;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F2DF3A;
    clip-path: circle(600px at right 800px);
}
.circle1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #CFD2CF;
}
.cd{
    background: #CFD2CF;
}
.card{
    margin: auto;
}
.cd h1{
    text-align: center;
}
.cd a{
    border-style: solid;
    text-decoration: none;
    color: #fff;
    background-color: #F32424;
    border-color: #F32424;
    border-radius: 40px;
    color:#fff;
    text-decoration:underline;
    text-decoration: none;
}
    
.cd .cd0 a{
    border-style: solid;
    text-decoration: none;
    color: #fff;
    background-color: #F32424;
    border-color: #F32424;
    border-radius: 40px;
    color:#fff;
    text-decoration:underline;
    text-decoration: none;  
}
.cd1 a:hover{
    border-style: solid;
    text-decoration: none;
    color: #fff;
    background-color: #F32424;
    border-color: #F32424;
    border-radius: 40px;
    color:#fff;
    text-decoration:underline;
    text-decoration: none;
}



.cd2 a:hover{
    border-style: solid;
    text-decoration: none;
    color: #fff;
    background-color: #F32424;
    border-color: #F32424;
    border-radius: 40px;
    color:#fff;
    text-decoration:underline;
    text-decoration: none;
}
.cd p{
    text-align: center;
}
.c1 p{
    text-align: center;
}
.c2 p{
    text-align: center;
}
/*joki*/
.joki{
    background: #b5b5b5;
}
.joki h1{
    text-align: center;
}
/*footer*/
.footer{
    background: #333;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #fff;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.footer-col-2 p{
    text-align: center;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.cdc{
    background: #b5b5b5;
    text-align: center;
}
 /** Choose  section **/

 .choose {
    margin-top: 20px;
    background: #CFD2CF;
}

.choose_box {
    padding-top: 76px;
}

.choose_box .titlepage {
    text-align: left;
    padding-bottom: 35px;
}

.text_norlam {
    font-weight: normal;
}

.choose_box p {
    font-size: 17px;
    line-height: 36px;
    color: #333;
    padding: 0px 0px 45px 0px;
}

.img_box {
    margin-bottom: 30px;
}

.img_box figure {
    margin: 0;
}

.img_box figure img {
    width: 100%;
}


/** end Choose  section **/


/** our  section **/

.our {
    margin-top: 20px;
    background: #b5b5b5;
}

.our_box .titlepage {
    text-align: right;
    padding-bottom: 30px;
}

.text_norlam {
    font-weight: normal;
}

.our_box {
    text-align: right;
}

.our_box p {
    font-size: 17px;
    line-height: 36px;
    color: #313131;
    padding: 0px 0px 40px 0px;
}

.our .img_box {
    margin-bottom: 0px;
}

.img_box figure {
    margin: 0;
}

.img_box figure img {
    width: 100%;
}



/** end our  section **/
@media (max-width: 991px){
    header{
        padding: 20px;
    }
    header .logo{
        max-width: 60px;
    }
    header ul{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(imgg/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(imgg/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header ul.navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
    header ul li a{
       font-size: 1.5em;
       margin: 5px 0;
    }
    section{
        padding: 20px;
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2{
        font-size: 2.5em;
    }
    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        max-width:300px;
    }
    .circle{
        clip-path: circle(400px at center bottom);
    }
    .thumb li img{
        max-width: 30px;
    }
    .sci{
        background: #F32424;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .footer-col-2 p{
        text-align: center;
    }

    /** Choose  section **/

.choose {
    margin-top: 90px;
}

.choose_box {
    padding-top: 76px;
}

.choose_box .titlepage {
    text-align: left;
    padding-bottom: 35px;
}

.text_norlam {
    font-weight: normal;
}

.choose_box p {
    font-size: 17px;
    line-height: 36px;
    color: #313131;
    padding: 0px 0px 45px 0px;
}

.img_box {
    margin-bottom: 30px;
}

.img_box figure {
    margin: 0;
}

.img_box figure img {
    width: 100%;
}


/** end Choose  section **/


/** our  section **/

.our {
    margin-top: 60px;
}

.our_box .titlepage {
    text-align: right;
    padding-bottom: 30px;
}

.text_norlam {
    font-weight: normal;
}

.our_box {
    text-align: right;
}

.our_box p {
    font-size: 17px;
    line-height: 36px;
    color: #313131;
    padding: 0px 0px 40px 0px;
}

.our .img_box {
    margin-bottom: 0px;
}

.img_box figure {
    margin: 0;
}

.img_box figure img {
    width: 100%;
}



/** end our  section **/
}